<html>

<head>
    <title>BeLayzee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
</head>

<body>


    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span>BeLayzee</span></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a href="/request">Start a Request</a>
                  </li>
                  <li>
                      <a href="/requests">See all Requests</a>
                  </li>
                    <li>
                        <%if (status == "Login") { %>

                            <a href="/profile">
                                <%= user.profile.displayName %>'s Profile</a>
                            <% } else {%>
                                <a href="/signup"> Sign Up</a>
                                <% }%>
                    </li>
                    <li>
                        <%if (status == "Login") { %>
                            <a href="/logout">Logout</a>
                            <% } else {%>
                                <a id="status" href="/login">Login</a>
                                <% }%>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row-md-6">
                        <img src="/img/<%= request.Catagory %>.jpg" class="img-responsive">
                        <br>
                    </div>
                    <%if (status == "Login") { %>
                    <div class="row-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Instant chat with the Requester -- <%= request.userName %></div>
                            <div class="panel-body">
                                <ul id="messages" class="list-unstyled"></ul>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">Chat Box</div>
                            <div class="panel-body">
                                <form id="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="m" autocomplete="off" placeholder="Type your message here e.g. Hi <%= request.userName %>" />
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">Send</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
                <div class="col-md-6">
                    <h1><%= request.userName %>'s Request</h1>
                    <h3><%= request.requestName %></h3>
                    <span class="label label-default" style="background: gray; font-size:15px "><%= request.Token %> token</span>
                    <span class="label label-default" style="background: purple; font-size:15px "><%= request.completeTime %></span>
                    <span class="label label-default" style="background: blue; font-size:15px "><%= request.Replies.length %> Reply</span>
                    <span class="label label-default" style="background: green; font-size:15px "><%= request.Catagory %></span>

                    <script language="javascript">
                        function fbshareCurrentPage() {
                            window.open("https://www.facebook.com/sharer/sharer.php?u=" + escape(window.location.href) + "&t=" + document.title, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');
                            return false;
                        }
                    </script>

                    <span style="display:block;"> <br> <a style="color: #fff; background-color: #435EAB; padding: 2px 7px 1px 7px; font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif; font-size: 15px; text-decoration: none; border-radius: 2px; float: right; margin-top: 1px; margin-right: 45px;"
                            href="javascript:fbshareCurrentPage()" target="_blank" alt="Share on Facebook">Share@FB</a></span>

                  <span style="display:block;"> <br></span>

                    <p>
                        <br>
                        <%= request.description %>
                            <br>
                            <br>
                    </p>
                    <br>
                    <% var active = false; for( var i=0;i<request.Replies.length;i++){ if(request.Replies[i].status == "active") { active=true; %>
                        <%tmp = " ";%>
                            <% } } %>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Replies</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <ul class="list-group">

                                                        <% if(request.Replies == 0){%>
                                                            <h3 style="color: grey">No replies yet!</h3>
                                                            <br>
                                                            <% } %>
                                                                <% for( var i=0;i<request.Replies.length;i++) { %>

                                                                    <li class="list-group-item replieUser" value='<%= request.Replies[i].userid %>' value2='<%= request.Replies[i].username%>'>
                                                                        <%= request.Replies[i].username %>
                                                                        <% if ( request.Replies[i].status == "active"){ %>
                                                                            <span class="badge" style="background: red">Active<i class="fa fa-star fa-fw"></i></span>
                                                                          <% } else{%>
                                                                            <span class="badge" style="background: orange">Pending<i class="fa fa-bolt fa-fw"></i></span>
                                                                        <%  }%>
                                                                    </li>
                                                                    <% } %>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% var active = false; for( var i=0;i<request.Replies.length;i++){ if(request.Replies[i].status == "active") { active=true; %>
                                    <button id="done" value='<%= request.Replies[i].userid %>' class="btn btn-block btn-default" style="background: yellow">
                                        <%= request.Replies[i].username %> is assigned! </button>
                                    <% } } %>

                                        <button id="updateform" class="btn btn-block btn-default" style="background: orange">Edit</button>

                                        <button id="delete" class="btn btn-block btn-default" style="background: orange">Cancel Request</button>

                </div>
            </div>
        </div>
    </div>
    <footer class="section section-primary">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>CSCI 3100 Project</h1>
                    <a href="/aboutus" style="color:white">About Us</a>
                </div>
                <div class="col-sm-6">
                    <p class="text-info text-right">
                        <br>
                        <br>
                    </p>
                    <div class="row">
                        <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                            <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 hidden-xs text-right">
                            <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="//code.jquery.com/jquery-2.2.2.min.js"></script>
    <script src="/javascript/requestedit.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            // Retrieve room ID
            if ( ! Array.prototype.last ) {
                Array.prototype.last = (function() {
                    return this[ this.length - 1 ];
                });
            }
            var id = window.location.href.split( '/' ).last();

            // Register
            var socket = io();
            socket.emit( 'register', id );
            // Chat room logic
            var $m = $( '#m' );
            var $messages = $( '#messages' );
            $( '#form' ).on( 'submit', function( e ) {
                e.preventDefault();
                socket.emit( 'chat', '[<%= user.profile.displayName %>](Requester): ' + $m.val() );
                $m.val( '' );
            } );
            socket.on( 'chat', function( data ) {
                $messages.append( '<li>' +  data + '</li>' );
            } );
        </script>

</body>

</html>
