<html>

<head>
    <title>BeLayzee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span>BeLayzee</span></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a href="/request">Start a Request</a>
                  </li>
                  <li>
                      <a href="/requests">See all Requests</a>
                  </li>
                    <li>
                        <%if (status == "Login") { %>

                            <a href="/profile">
                                <%= user.profile.displayName %>'s Profile</a>
                            <% } else {%>
                                <a href="/signup"> Sign Up</a>
                                <% }%>
                    </li>
                    <li>

                        <%if (status == "Login") { %>
                            <a href="/logout">Logout</a>
                            <% } else {%>
                                <a id = "status" href="/login">Login</a>
                                <% }%>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row-md-6">
                        <img src="/img/<%= request.Catagory %>.jpg" class="img-responsive">
                        <br>
                    </div>
                    <%if (status == "Login") { %>
                    <div class="row-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Instant chat with the Replyers</div>
                            <div class="panel-body">
                                <ul id="messages" class="list-unstyled"></ul>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">Chat Box</div>
                            <div class="panel-body">
                                <form id="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="m" autocomplete="off" placeholder="Type your message here" />
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">Send</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>

                <div class="col-md-6">
                    <h1 id="rname" ><%= request.requestName %></h1>
                    <h3><%= request.userName %>'s Request</h3>
                    <span class="label label-default" style="background: #00305A; font-size:15px "><%= request.Token %> token</span>
                    <span class="label label-default" style="background: #004B8D; font-size:15px "><%= request.completeTime %></span>
                    <span class="label label-default" style="background: #0074D9; font-size:15px "><%= request.Replies.length %> Reply</span>
                    <span class="label label-default" style="background: #4192D9; font-size:15px "><%= request.Catagory %></span>
                    <p>
                        <br>
                        <%= request.description %>
                            <br>
                            <br>
                    </p>
                    <br>

                    <div>
                    <%if (status != "Login") { %>
                        <button id="reply" class="btn btn-block btn-default" style="background: aqua">Login to Reply</button>
                    <% }else {%>
                        <%if (replyStat) { %>
                            <button id="replied" class="btn btn-block btn-default" style="background: orange">Replied</button>
                        <% } else {%>
                            <button id="reply" class="btn btn-block btn-default" style="background: aqua">Reply</button>
                        <% }%>
                    <% }%>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <footer class="section section-primary">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>CSCI 3100 Project</h1>
                    <a href="/aboutus" style="color:white">About Us</a>
                </div>
                <div class="col-sm-6">
                    <p class="text-info text-right">
                        <br>
                        <br>
                    </p>
                    <div class="row">
                        <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                            <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 hidden-xs text-right">
                            <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="//code.jquery.com/jquery-2.2.2.min.js"></script>
    <script src="/javascript/reply.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            // Retrieve room ID
            if ( ! Array.prototype.last ) {
                Array.prototype.last = (function() {
                    return this[ this.length - 1 ];
                });
            }
            var id = window.location.href.split( '/' ).last();

            // Register
            var socket = io();
            socket.emit( 'register', id );
            // Chat room logic
            var $m = $( '#m' );
            var $messages = $( '#messages' );
            $( '#form' ).on( 'submit', function( e ) {
                e.preventDefault();
                socket.emit( 'chat', '[<%= user.profile.displayName %>](Replyer): ' + $m.val() );
                $m.val( '' );
            } );
            socket.on( 'chat', function( data ) {
                $messages.append( '<li>' + data + '</li>' );
            } );
        </script>
</body>

</html>
