<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
  </head><body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span>BeLayzee</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
              <li>
                  <%if (status == "Login") { %>

                      <a href="/profile"><%= user.profile.displayName %>'s Profile</a>
                      <% } else {%>
                      <a href="/signup"> Sign Up</a>
                      <% }%>
              </li>
              <li>
                  <%if (status == "Login") { %>
                      <a href="/logout">Logout</a>
                      <% } else {%>
                      <a href="/login">Login</a>
                      <% }%>
              </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12">
              <div class="page-header" contenteditable="true">
                <h1>Requests</h1>
              </div>
              <form role="form">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="KeyWord">
                    <span class="input-group-btn">
                      <a class="btn btn-primary" type="submit">Find a Request</a>
                    </span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Filter</h3>
              </div>
              <div class="panel-body">
                <h3>Catagory</h3>
                <ul class="list-group">
                    <button style="width:100%" class="list-group-item" onclick="filter(id)" id="all">All</button>
                    <button style="width:100%" class="list-group-item" onclick="filter(id)" id="food">Food and beverage</button>
                    <button style="width:100%" class="list-group-item" onclick="filter(id)" id="household">Household Related</button>
                    <button style="width:100%" class="list-group-item" onclick="filter(id)" id="school">School life</button>
                    <button style="width:100%" class="list-group-item" onclick="filter(id)" id="dorm">Dorm life</button>
                    <button style="width:100%" class="list-group-item" onclick="filter(id)" id="professional">Professional subject</button>
                    <button style="width:100%" class="list-group-item" onclick="filter(id)" id="random">Random stuffs</button>
                    <button style="width:100%" class="list-group-item" onclick="filter(id)" id="relationship">Relationship</button>
                    <button style="width:100%" class="list-group-item" onclick="filter(id)" id="other">Others</button>
                </ul>

                <script>
                    function filter(id) {
                        var k,n;
                        var a = ["all","food", "household", "school", "dorm", "professional", "random", "relationship", "other"];

                        for (var i=0;i<a.length;i++) {
                          if (a[i]!=id) {
                            n = document.getElementById(a[i]);
                            n.className = "list-group-item";
                          }
                        }

                        n = document.getElementById(id);
                        n.className = "list-group-item active";

                        if(id == "all"){
                            var x = $("ul#rq>div");
                            for (var i = 0; i < x.length; i++) {
                                    x[i].style.display = "inline";
                            }
                        }else{
                          var x = $("ul#rq>div").not("." + id)
                          var y = $("ul#rq ." + id);
                            for (var i = 0; i < x.length; i++) {
                                    x[i].style.display = "none";
                            }
                            for (var i = 0; i < y.length; i++) {
                                    y[i].style.display = "inline";
                            }
                        }
                    }
                </script>

              </div>
            </div>
          </div>
          <ul id="rq" class=>
          <% for(var i= (request.length-1) ;i>=0;i--) { %>
            <% var link = "/requests/" + String(request[i]._id); %>
            <div class="<%= request[i].Catagory %>">
              <div class="col-md-4">
                <a class="active" href=<%= link %>><img src="/img/<%= request[i].Catagory %>.jpg" style="width:30em;" class="center-block img-responsive"></a>
                <h1><%= request[i].userName %>'s Request</h1>
                <p><%= request[i].requestName %> </p>
              </div>
            </div>
          <% } %>
        </ul>
        </div>

    </div><footer class="section section-primary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>CSCI 3100 Project</h1>
                        <p>Credits</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-info text-right">
                            <br>
                            <br>
                        </p>
                        <div class="row">
                            <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 hidden-xs text-right">
                                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


</body></html>
